<div id="signup">

  <div class="toolbar">
    <h1><%= @title ||= 'QRPay' %></h1>
    <a class="button back" href='#'>Back</a>
  </div>
  
  <%= form_for :user, :url => users_path, :remote => true do |f| %>
    <ul class="rounded">
      <li>
        <%= f.label :name %><br />
        <%= f.text_field :name %><br />
      </li>
      <li>
        <%= f.label :email %><br />
        <%= f.text_field :email %><br />
      </li>
      <li>
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
      </li>
      <li>
        <%= f.label :password_confirmation, "Confirmation" %><br />
        <%= f.password_field :password_confirmation %><br />
      </li>
    </ul>

    <ul class="rounded"> 
      <li>
        <%= f.submit "Create" %>
      </li>
    </ul>
  <% end %>
</div>
