

<% if signed_in? %>

  <div id="home" class="current">  

    <div class="toolbar">
      <h1><%= @title ||= 'QRPay' %></h1>
      <%= link_to "Sign out", signout_path, :method => :delete, :class => "button" %>
    </div>

    <!-- Display flash messages for login -->
    <% if flash[:notice] %>
      <li class="greenButton"> <%= flash[:notice] %> </li>
    <% end %>        

    <ul class="rounded">
      <li class="arrow">
        <%= link_to "Profile", '#profile' %>
      </li>
      <li class="arrow">
        <%= link_to "Orders", '#orders' %>
      </li>
      <li class="arrow">
        <%= link_to "Create order", '#cart' %>
      </li>
    </ul>
  </div>

  <!-- Profile -->
  <div id="profile">
    <div class="toolbar">
      <h1><%= @title ||= 'QRPay' %></h1>
    </div>
    <%= render @user %>
  </div>

  <!-- Orders -->
  <div id="orders">
    <div class="toolbar">
      <h1><%= @title ||= 'QRPay' %></h1>
    </div>
    
    <!-- Flash order completion -->
    <% if flash[:notice] %>
      <li class="greenButton"> <%= flash[:notice] %> </li>
    <% end %>
    
    <ul class="plastic">
      <%= render (@user.orders.sort_by &:created_at).reverse %>
    </ul>
  </div>

  <!-- Cart creation -->
  <%= render :template => 'carts/new.mobile.erb' %>

<% else %>

  <div id="welcome" class="current">
    <div class="toolbar">
      <h1><%= @title ||= 'QRPay' %></h1>
      <%= link_to "Sign in", signin_path, :method => :new, :class => "button slideup" %>
    </div>      

    <ul class="rounded">
      <li class="arrow">
        <%= link_to "Sign in", '#signin' %>
      </li>
      <li class="arrow">
        <%= link_to "Create an account", '#signup' %>
      </li>
    </ul>
  </div>

  <!-- Signin -->
  <%= render :template => '/sessions/new.mobile.erb' %>  

  <!-- Create account -->
  <%= render :template => '/users/new.mobile.erb' %>

<% end %>


<div class="info">
  <p> Powered by jQTouch </p>
</div>
